.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-bottom: calc(180px + env(safe-area-inset-bottom));
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

ion-content {
  --padding-bottom: calc(180px + env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 150px;
}

.history {
  width: 90%;
  max-height: 33vh;
  min-height: 50px;
  overflow-y: auto;
  text-align: right;
  font-size: 3.2em;
  margin-bottom: 10px;
  padding: 10px;
  background: #333;
  color: white;
  border-radius: 10px;
  position: relative;
  bottom: 580px;
  z-index: 12;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  transition: max-height 0.3s ease-in-out;
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.history::-webkit-scrollbar {
  width: 6px;
}

.history::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px;
}

.history::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.display {
  width: 90%;
  height: 1.5em;
  text-align: right;
  font-size: 5.5em;
  margin-bottom: 10px;
  padding: 10px;
  background: #222;
  color: white;
  border-radius: 10px;
  position: relative;
  bottom: 560px;
  z-index: 11;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  padding: 20px;
  background: #111;
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

button {
  font-size: 1.5em;
  padding: 50px;
  border-radius: 10px;
  border: none;
  background: #007bff;
  color: white;
  text-align: center;
  cursor: pointer;
}

button.operation {
  background: #fd7e14;
}

button.equal {
  background: #17a2b8;
  grid-column: span 2;
}

button.clear {
  background: #dc3545;
}

button:active {
  opacity: 0.7;
}
